[Unit]
Description=Perfscale ES ingress-performance dev Timer
Requires=perfscale-es-ingress-performance-dev.service

[Timer]
OnCalendar=*-*-* *:0/2:00
Unit=perfscale-es-ingress-performance-dev.service

[Install]
WantedBy=timers.target