[Unit]
Description=Perfscale ES ripsaw-kube-burner prod Timer
Requires=perfscale-es-ripsaw-kube-burner-prod.service

[Timer]
OnCalendar=*-*-* 08:00:00
Unit=perfscale-es-ripsaw-kube-burner-prod.service

[Install]
WantedBy=timers.target