[Unit]
Description=Perfscale ES prod-netobserv-operator-metadata ocp qe Timer
Requires=perfscale-es-prod-netobserv-operator-metadata-ocp-qe.service

[Timer]
OnCalendar=*-*-* *:*:00
Unit=perfscale-es-prod-netobserv-operator-metadata-ocp-qe.service

[Install]
WantedBy=timers.target