[Unit]
Description=Perfscale ES prod-netobserv-datapoints ocp qe sync job
Wants=perfscale-es-prod-netobserv-datapoints-ocp-qe.timer

[Service]
Type=simple
User=root
WorkingDirectory=/root
# This driver script can be found in the jump host: snowflake.rdu2.scalelab.redhat.com. Hiding it as it has contains secrets.
ExecStart=/bin/bash perfscale-es-prod-netobserv-datapoints-ocp-qe.sh

[Install]
WantedBy=multi-user.target