[Unit]
Description=Perfscale ES k8s-netperf dev Timer
Requires=perfscale-es-k8s-netperf-dev.service

[Timer]
OnCalendar=*-*-* 22:00:00
Unit=perfscale-es-k8s-netperf-dev.service

[Install]
WantedBy=timers.target