[Unit]
Description=Perfscale ES kube-burner dev Timer
Requires=perfscale-es-kube-burner-dev.service

[Timer]
OnCalendar=*-*-* *:0/8:00
Unit=perfscale-es-kube-burner-dev.service

[Install]
WantedBy=timers.target